/*
COLOR PALETTE
black: #000000;
dark grey: #333333,
purble: #5324c1,
orange: #fd8f36,
light grey: #deddde
grey background: #f2f2f2

FONTS
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;

*/

/*Reset*/
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
}

/*Containers*/
.section-container {
  width: 100%;
}

.side-container {
  display: flex;
  flex-direction: column;
}

.left-div,
.right-div {
  display: inline-block;
  width: 100%;
}

.vertical-container {
  display: flex;
  flex-direction: column;
}

.width-container {
  width: 80%;
}

/*Titles*/
.title-small {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 2px;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.title-large {
  font-family: "Roboto Slab", serif;
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 400;
}

.up-title {
  display: flex;
}

.down-title {
  text-align: right;
  margin: 0 47px;
}

/*Text*/
.p-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
/*Main container*/
.main-container {
  min-height: 10vh;
}

.left-main {
  background-color: #000000;
}

.right-main {
  background-color: #fd8f36;
}

.logo-img {
  width: 50%;
  margin: 20px;
}

/*About section*/

.about-section {
  display: flex;
  min-height: 100vh;
  width: 100%;
  justify-content: center;
  background-color: #f2f2f2;
}

.about-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #5324c1;
  color: #deddde;
  padding-bottom: 50px;
}

.about-up-title {
  margin-top: 65px;
  margin-left: 20px;
}

.title-line {
  display: inline-block;
  width: 120px;
  border-bottom: solid 3px #fd8f36;
  margin-bottom: 10px;
  margin-right: 20px;
}

.left-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-about {
  position: relative;
}

.about-app-img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.about-rigth-down {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.about-text {
  margin: 29px 20px 0;
  font-size: 16px;
  line-height: 1.6;
}

.read-more-button {
  margin: 29px 0 0 20px;
  padding: 10px 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  text-transform: uppercase;
  border: none;
}

.about-button {
  background-color: #fff;
}

.about-button:hover {
  cursor: pointer;
  background-color: #deddde;
}

/*Work container*/

.work-container {
  background-color: #f2f2f2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  gap: 15px;
  padding: 50px 0;
}

.work-description-container {
  height: 100%;
}

.work-down-title {
  text-align: left;
  margin-left: 0;
}

.over-img {
  position: absolute;
  width: 100%;
}

.img-round-container {
  width: 60%;
  position: absolute;
  border-radius: 50%;
  overflow: hidden;
  object-position: 73.82% 50%;
  background-position: 73.82% 50%;
  margin: 28px auto 0;
  opacity: 0.1;
}

.background-img {
  width: 100%;
  z-index: auto;
}

.work-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 15px 0;
}

.work-button-container {
  cursor: pointer;
}

.work-button {
  background-color: #5324c1;
  color: #deddde;
}

.work-button:hover {
  cursor: pointer;
}

/*Company information*/
.company-container {
  background-color: #fd8f36;
  min-height: 85vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  padding: 50px 0;
}

.company-info-container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.company-card-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.company-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.company-text {
  padding: 20px 0;
  width: 100%;
  font-size: 1rem;
  line-height: 1.6;
}

.title-card {
  font-size: 1.25rem;
  letter-spacing: 2px;
  line-height: 1.2;
  margin: 30px 20px 0;
  font-weight: 400;
  text-transform: uppercase;
}

.card-text {
  font-size: 0.875rem;
  margin: 20px 20px 30px;
  text-align: center;
}

.card-icon {
  font-size: 64px;
}

.company-over-img {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*Staff*/

.staff-container {
  background-color: #deddde;
  min-height: 120vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.up-staff {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.staff-card {
  position: relative;
  display: inline-block;
  color: #deddde;
  margin: 0 auto;
}

.staff-img {
  width: 50vw;
}

.staff-info {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  width: 100%;
}

.staff-line {
  margin-bottom: 75px;
  margin-left: 15px;
}

.staff-name {
  margin-bottom: 40px;
}

.down-staff {
  margin: 25px 0 150px;
  width: 60%;
}

.staff-title {
  margin: 20px 0;
}

/*App info*/
.app-container {
  background-color: #000000;
  color: #deddde;
  align-items: center;
  min-height: 100vh;
  padding: 50px 0;
}

.app-info-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.app-description-container {
  width: 90%;
  height: 80%;
  gap: 30px;
}

.app-title-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-rigth-down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-button {
  margin-left: 0;
  background-color: #5324c1;
}

.app-img-container {
  position: relative;
}
.app-img {
  width: 100%;
  margin: 15px 0;
}

/*Contact*/

.contact-container {
  min-height: 80vh;
  width: 100%;
  background-color: #5324c1;
  color: #deddde;
  justify-content: center;
}

.contact-center {
  display: flex;
  flex-direction: column-reverse;
  padding: 50px 0;
  gap: 25px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 20px;
}

.right-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 50px;
  margin-left: 25px;
}

.form-input {
  padding: 10px 5px;
  background-color: #5324c1;
  color: #deddde;
  border: solid 1px #deddde;
}

.form-input::placeholder {
  color: #dedddec2;
  font-family: "Open Sans", sans-serif;
}

.form-button {
  width: 20%;
  padding: 10px;
  background-color: #5324c1;
  color: #deddde;
  border: solid 2px #deddde;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.contact-down-title {
  margin-right: 0;
}
.contact-large-title {
  margin-bottom: 15px;
}

.contact-text {
  font-weight: 700px;
}

.icons-contact {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 15px;
  font-size: 16px;
}

/*IPAD*/

/* @media only screen and (min-width: 700px) and (max-width: 1024px) {
  .main-container {
    min-height: 90vh;
  }
  .logo-img {
    width: 154px;
    height: 139px;
    margin: 70px auto 80px 97px;
  }

  .about-container {
    flex-direction: row;
    top: -25vh;
  }
}

.about-app-img {
  position: absolute;
  width: 890px;
  height: 837px;
  top: -548px;
  left: -320px;
} */

/*Laptop and Desktop*/

@media only screen and (min-width: 1025px) {
  .main-container {
    min-height: 90vh;
  }
  .logo-img {
    width: 154px;
    height: 139px;
    margin: 70px auto 80px 97px;
  }

  .about-container {
    flex-direction: row;
    top: -25vh;
  }

  .about-app-img {
    margin: 0;
    position: absolute;
    width: 890px;
    height: 837px;
    top: -548px;
    left: -320px;
  }

  .about-section {
    position: relative;
  }

  .about-container {
    width: 80%;
    position: absolute;
    top: -10px;
  }

  .left-div,
  .right-div {
    width: 50%;
  }

  .side-container {
    flex-direction: row;
  }

  .background-img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
    z-index: auto;
  }
  .img-round-container {
    top: 0;
    width: 571px;
    height: 571px;
    object-position: 73.82% 50%;
    background-position: 73.82% 50%;
    margin: 28px auto 0;
    opacity: 0.1;
  }

  .work-description-container {
    height: 60%;
  }

  .work-container {
    padding: 0;
  }

  .work-button-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .work-description {
    margin: 0;
  }

  .company-container {
    padding: 0;
  }

  .company-card-container {
    flex-direction: row;
    margin-top: 20px;
  }

  .company-text {
    width: 50%;
  }

  .up-staff {
    flex-direction: row;
  }

  .staff-img {
    width: 25vw;
  }

  .staff-card {
    margin: 0;
  }

  .app-container {
    padding: 0;
  }
  .app-description-container {
    gap: 0;
  }
  .app-img {
    position: absolute;
    width: 100%;
    object-position: 40.91% 50%;
    background-position: 40.91% 50%;
    margin: -134px 0 0 auto;
  }
  .contact-center {
    flex-direction: row;
    padding: 0;
    gap: 0;
  }
}
